<!DOCTYPE html>
<html>
<head>
	<title>consumer</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>This is the Consumer</h2>

<button id="getRandomMemory">Erleuchtung</button>
<div class="memory__random">

</div>
<button id="allMemories">Alle Erinnerungen anzeigen</button>
<div class="memories__list">

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>