<!DOCTYPE html>
<html>

<head>
  <title>consumer</title>
  <link rel="stylesheet" href="css/style.css">
</head>


<body>
<!-- <h2>This is the Consumer</h2> -->
<!-- <button id="getRandomMemory">Erleuchtung</button> -->
<div class="filter">
  <hr>
  <p>Filter</p>
  <div data-filter="family" class="filter__item filter__family">Familie</div>
  <div data-filter="friends" class="filter__item filter__friends">Freunde</div>
  <div data-filter="childhood" class="filter__item filter__childhood">Kindheit</div>
  <div data-filter="adults" class="filter__item filter__adults">Erwachsene</div>
  <div data-filter="elderly" class="filter__item filter__elderly">Senioren</div>
  <hr>

</div>

<div class="memory__random">
</div>
<div class="memories__wrapper">
  <button id="toggleScreenReader" class="fa-volume-up">Vorlesen</button>
  <div class="memories__list" id="slideshow"></div>
</div>
<div class="memories__hidden" hidden></div>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>
