<!DOCTYPE html>
<html>
<head>
  <title>sender</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>This is the Sender!</h2>
<div class="messages"></div>
<div class="form">
  <input type="text" name="title" id="title" placeholder="Ein Titel">
  <input type="text" name="text" id="text" placeholder="Beschreibung">
  <input type="file" name="fileupload" id="fileupload">
  <input id="rememberBtn" type="submit" value="Merken">
</div>

  <script type="text/javascript" src="scripts/script.js"></script>

</body>
</html>