<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>reMEmber</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">reMEmber</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/sender">Erinnerung speichern</a></li>
        <li><a href="/consumer">Erinnerung ansehen</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <h2>This is the Sender!</h2>
  <div class="messages"></div>
  <div class="form">
    <input type="text" name="title" id="title" placeholder="Ein Titel">
    <input type="text" name="text" id="text" placeholder="Beschreibung">
    <br>
    <input type="radio" name="category"  value="family" checked><i class="fi flaticon-003-family-1"></i><span>Familie</span><br>
    <input type="radio" name="category"  value="friends"><i class="fi flaticon-002-men-shaking-hands"></i><span>Freunde</span><br>
    <input type="radio" name="category"  value="childhood"><i class="fi flaticon-006-crawling-baby-silhouette"></i><span>Kindheit</span>
    <input type="radio" name="category"  value="adults"><i class="fi flaticon-001-pregnancy"></i><span>Erwachsene</span>
    <input type="radio" name="category"  value="elderly"><i class="fi flaticon-005-old-couple"></i><span>Senioren</span>

    <input type="file" name="fileupload" id="fileupload">
    <input id="rememberBtn" type="submit" value="Merken">

  </div>
</div>

<script type="text/javascript" src="scripts/script.js"></script>

</body>
</html>