<!DOCTYPE html>
<html>
<head>
  <title>sender</title>
</head>
<body>
<h2>This is the Sender!</h2>
<div class="messages"></div>
<div class="form">
  <input type="text" name="title" id="title" placeholder="Ein Titel">
  <input type="text" name="text" id="text" placeholder="Beschreibung">
  <input id="rememberBtn" type="submit" value="Merken">
</div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="scripts/script.js"></script>

</body>
</html>