/*
Flaticon icon font: Flaticon
Creation date: 04/03/2017 13:57
*/
@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../font/Flaticon.woff") format("woff"), url("../font/Flaticon.ttf") format("truetype"), url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-009-people:before {
  content: "\f100"; }

.flaticon-008-photo-camera:before {
  content: "\f101"; }

.flaticon-007-map-marker-with-two-arrows-pointing-opposite-directions:before {
  content: "\f102"; }

.flaticon-001-pregnancy:before {
  content: "\f103"; }

.flaticon-002-men-shaking-hands:before {
  content: "\f104"; }

.flaticon-003-family-1:before {
  content: "\f105"; }

.flaticon-004-family:before {
  content: "\f106"; }

.flaticon-005-old-couple:before {
  content: "\f107"; }

.flaticon-006-crawling-baby-silhouette:before {
  content: "\f108"; }

body {
  background-color: #fff;
  margin: 0; }

.form i {
  font-size: 3em; }
.form span {
  display: block; }

#slideshow {
  background-color: #BEEB9F;
  margin: 0 auto;
  position: relative;
  width: 95vw;
  height: 93vh;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 2.5%; }
  #slideshow > div.text {
    background-color: #fff;
    padding: 5%; }
  #slideshow > div.text p:first-of-type {
    font-size: 3em;
    text-align: center; }
  #slideshow > div.image p {
    color: white;
    padding: 0 3%;
    margin: 0.5em 0; }
  #slideshow > div.image p:first-of-type {
    font-size: 2em; }
  #slideshow > div.image .text__wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 3; }
  #slideshow > div.text p:last-of-type {
    padding: 2% 10%; }
  #slideshow > div:first-of-type {
    display: block; }
  #slideshow > div {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px; }
  #slideshow > div > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0; }
  #slideshow > div > p {
    padding: 2% 5%;
    position: relative;
    z-index: 2;
    font-size: 1.5em; }

#toggleScreenReader {
  border-radius: 50%;
  box-shadow: none;
  border: none;
  background-color: #FF6138;
  color: #32322F;
  width: 5.5em;
  height: 5.5em;
  margin-left: 2em;
  bottom: -3.5em;
  position: relative;
  z-index: 1;
  transition: all 0.25s ease-in-out; }
  #toggleScreenReader span {
    font-size: 3em; }
  #toggleScreenReader.active {
    background-color: #00A388;
    transition: all 0.25s ease-in-out; }

#notification {
  width: 300px;
  position: absolute;
  height: 75px;
  right: 15px;
  top: 15px;
  text-align: center;
  background: #e6e6e6;
  border-radius: 10px;
  transition: all 0.4s; }

#notification.show {
  transform: translateX(0); }

#notification.hide {
  transform: translateX(350px); }

.navbar {
  position: inherit; }

.form {
  margin: 0 auto;
  width: 50%; }

input#title,
textarea {
  border: 3px solid #BEEB9F;
  padding: 5px;
  margin: 5px 0; }

textarea {
  width: 100%;
  height: 160px;
  display: block; }

input#title {
  width: 65%;
  margin-left: 2%;
  margin-right: 0; }

#rememberBtn {
  width: 100%; }

#rememberBtn,
.fileContainer {
  cursor: pointer;
  padding: 8px 5px;
  margin: 5px 0;
  border: none;
  text-align: left;
  font-weight: bold;
  color: #32322F;
  background-color: #00A388;
  transition: all 0.2s ease-in-out; }
  #rememberBtn:hover,
  .fileContainer:hover {
    background-color: #79BD8F;
    transition: all 0.2s ease-in-out; }

.fileContainer {
  width: 33%;
  float: left;
  overflow: hidden;
  position: relative;
  margin-right: 0;
  margin-left: 0; }

.fileContainer [type=file] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0; }

.filter {
  text-align: center; }

.filter__item {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: rgba(50, 50, 47, 0.2);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
  position: relative; }
  .filter__item i {
    font-size: 2em;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 0.2em; }
  .filter__item span {
    position: relative;
    display: block;
    text-align: center;
    z-index: 1; }
  .filter__item div.circle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s all ease-in-out;
    text-align: center;
    background: #00A388;
    color: #fff;
    border-radius: 100%;
    overflow: hidden;
    z-index: 0;
    font-family: sans-serif;
    /* Just 'cos */ }
  .filter__item.disabled div.circle {
    width: 0;
    height: 0;
    top: calc(50%);
    left: calc(50%); }
  .filter__item:hover div.circle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #79BD8F; }
  .filter__item input[type="radio"]:checked + div.circle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .filter__item input[type="radio"] + div.circle + i {
    margin-top: -0.3em; }
  .filter__item .form .filter__item input {
    display: none; }

.landing {
  position: relative;
  text-align: center;
  margin-top: 10%; }
  .landing .main-header {
    color: #32322F;
    position: absolute;
    left: calc(50% - 2.3em);
    top: calc(50% - 1.5em);
    font-weight: bold; }
    .landing .main-header span {
      color: #fff;
      background-color: #32322F; }

/*# sourceMappingURL=style.css.map */
