$color-plain-white: #fff;
$color-outrageous-orange : #FF6138;
$color-pale-canary : #FFFF9D;
$color-yellow-green : #BEEB9F;
$color-summer-green : #79BD8F;
$color-persian-green : #00A388;
$color-tuatara-dark: #32322F;